.*

!.gitignore

conf/local.conf
db
dist
**/*.DS_Store
eclipse
*.eml
*.iml
lib
lib_managed
log
logs
/out
precompiled
project/project
project/target
project/metals.sbt
/RUNNING_PID
server.pid
target
test-result
tmp
bin