.slider {
  label {
    display: inline-block;
  }
}

.js-enabled {
  $slider-height: 1.75rem;
  $slider-width: 50px;
  $spinner-size: 3.5rem;

  .api-subscriber {
    .accordion-body-row {
      table-layout: fixed;
    }

    &__state-container {
      width: 100%;
      text-align: right;

      .govuk-c-loader {
        height: $spinner-size;
        width: 100%;

        svg {
          height: $spinner-size;
          width: $spinner-size;
        }
      }
    }
  }

  .subscription-error {
    color: #b10e1e;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .slider {
    color: #fff;
    display: inline-block;
    height: $slider-height;
    padding: .35rem;
    position: relative;
    width: $slider-width;

    fieldset {
      label {
        border: 1px solid #bfc1c3;
        border-radius: 60% / 100%;
        font-weight: bold;
        font-size: $slider-height * .75;
        height: 100%;
        left: 0;
        line-height: $slider-height * 1.4;
        padding: .35rem;
        position: absolute;
        top: 0;
        user-select: none;
        width: 100%;
      }

      input {
        display: none;

        &.slider__on + label {
          background-color: #005ea5;
          text-indent: .75rem;
        }

        &.slider__off + label {
          box-shadow: inset 1px 0 2px #bfc1c3;
          text-indent: 3.3rem;


          &::after {
            content: "";
            border-radius: 100%;
            background-color: #fff;
            box-shadow: 0 0 5px 0 #000;
            height: $slider-height * 1.75;
            position: absolute;
            right: 0;
            top: 0;
            width: $slider-height * 1.75;
            z-index: 1;
          }
        }

        &.slider__off:checked + label {
          background-color: #fff;
          color: #000;

          &::after {
            left: 0;
          }
        }
      }

      &[disabled] {
        label {
          cursor: no-drop;
        }

        input:checked + label {
          background-color: #bfc1c3 !important;
          color: #fff !important;
        }
      }
    }
  }
}

.api-subscriber {
  .accordion__body__row {
    &__left, &__right {
      vertical-align: middle;
    }

    &__right--link {
      text-align: right;
    }

    .accordion__body--subscription-locked {
      width: 7rem;
      vertical-align: middle;
    }
  }
}
