.header__menu .header__menu__proposition-links {
  float: none;
}

.service-info {
  .header__menu__proposition-links {
    margin-top: -2.3em;

    .link-style {
      color: #005ea5;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}

.beta-banner .phase-tag {
  background-color: #005ea5;
}

.header__menu__proposition--sub-header {
  display: none;
}

@media (min-width: 769px) {
  #global-header .header-proposition #proposition-links li {
    float: left;
    display: block;
    width: auto;
    padding: 0 15px 0 0;
    border-bottom: 0;
  }
  #global-header .header-proposition #proposition-links li.desktop-only {
    display: none;
  }
  #global-header .header-proposition #proposition-links li.clear-child {
    clear: left;
  }
}

@media (min-width: 801px) {
  .header__menu__proposition--sub-header {
    display: block;
  }
}

textarea#applicationDetails {
  height: 350px;
}

a.secondary-button, button.secondary-button, input.secondary-button {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
}

a.secondary-button, button.secondary-button {
  padding: .526315em .789473em .263157em;
}

input.secondary-button {
    border: 0;
}

input.flat-text {
  border: 0;

  &:focus {
    outline: none;
  }
}

a.secondary-button:hover, button.secondary-button:hover, input.secondary-button:hover,
a.secondary-button:focus, button.secondary-button:focus, input.secondary-button:hover {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #2e8aca;
  text-decoration: underline;
}

a.secondary-button:hover, button.secondary-button:hover,
a.secondary-button:focus, button.secondary-button:focus {
  padding: .526315em .789473em .263157em;
}

input[type=submit]:hover {
  cursor: pointer;
}

.button {
    margin-right: 0 !important;
}

// Remove right arrows on left hand navigation menu
// They cause screen reader to read out the right arrow with not context and don't add anything to visual users

.side-nav__link::after {
  content: "";
}

// Show side navigation on mobile phone - discuss with Rory about a better solution to this, a sub navigation responsive menu
.side-nav {
  display: block;
}

// Remove sub navigation right border on a mobile phone
.side-nav {
  border-right: none;
}

// Add sub navigation right border back in for desktop application. uses breakpoint defined in GOV UK frontend toolkit.
@media(min-width: 769px) {
  .side-nav {
    border-right: 1px solid #bfc1c3;
  }
}

@media (min-width: 641px) {
    .column-three-quarters {
        float: left;
        width: 75%;
    }
}

.column-three-quarters {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form.subscription-toggle {
    display: inline-block;
}

.toggle__button--active {
    margin: 0 0 0 0;
}

form.inline-controls {
    display: inline-block;
}

#proposition-menu {
       a:hover {
        color: #FFF; }
}

// APIS-3807 - override hover style on left nav so it passes accessibility colour contrast tests
.side-nav__link:hover {
  background-color: #fff;
  text-decoration: underline;
}

// APIS-3807 - this bit makes sure that the :hover style doesn't override the :focus style
.side-nav__link:focus {
  background-color: #ffbf47;
}

.action-link {
  margin-right: 1rem;
}

.metadata-wrapper {
  background: #bfc1c3;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.metadata {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 0.5;
  padding: 0;
}

.ip-whitelist {
  .heading-medium {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .form-group {
    width: 90%;
    textarea {
      width: 100%;
    }
  }
  .actions {
    margin-top: 2em;
  }
  table {
    width: 43%;
  }
}

a.interrupt-button, a.interrupt-button:visited, a.interrupt-button:link {
  background-color: #FFF;
  color: #005ea5;
  font-weight: 700;
  padding: 0.26316em 0.68421em 0.15789em 0.68421em;
  font-size: 24px;
}

.interrupt {
  margin: 1em 0;
  padding: 1em 1em 1em 2em;
  color: #fff;
  background: #1d70b8;
}

@media (min-width: 1000px) {
  .interrupt {
    padding: 1em 26em 1em 2em;
  }
}

.step-status {
  display: inline-block;
  width: 80px;
  padding: 0.2em 0.5em 0.1em 0.5em;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  min-width: 4.5em;
}

.step-status.status-incomplete {
  background-color: #dee0e2;
  color: #0b0c0c;
}

.step-status.status-completed {
  background-color: #005ea5;
  color: #fff;
}

.govuk-box-highlight {
  margin: 1em 0;
  padding: 1.4em 1em 1em;
  color: #fff;
  background: #00703c;
  text-align: center;
}

.column-three-quarters {
  padding: 0 15px;
  box-sizing: border-box;
  width: 75%;
}

.grid-row {
  margin: 0 -15px;
}

.col-40 {
  width: 40%;
}

.col-35 {
  width: 35%;
}

.col-60 {
  width: 60%;
}

.client-secrets {
  #generate-another-client-secret {
    padding: 0;
  }
  .rotate-client-secrets {
    width: 75%;
  }
  table {
    th:nth-of-type(1) {
      width: 41%;
    }
    th:nth-of-type(2) {
      width: 20%;
    }
  }
}

tr.apiSubscriptions, th {
  vertical-align: text-top;
}

tr.contactDetails, th {
  vertical-align: text-top;
}

tr.teamMembers, th {
    vertical-align: text-top;
}

.govuk-caption-xl {
  font-size: 27px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  color: #626a6e;
}

/* Reconcile with components library code */

.code--block {
  border: none;
  margin: 0;
  line-height: 1.5em;
  padding: 10px;
  word-wrap: break-word;
}

.code--slim {
  border: 1px solid #DFE0E7;
  border-radius: 4px;
  padding: 2px 4px;
  display: inline-block;
  background-color: #F7F7F7;
  line-height: 1.1em;
}

// Styles for the Add A Team Member page
.multiple-choice > .form-hint > .permission-list {
  display: block;
  padding: 0 10px 9px 12px;
  float: left;
}
