
/* position labels above input fields in cascading forms */
label.cascading span {
    display: block;
}


/* hide error summary */
.error-summary {
    display: none;
}

/* show error summary when required */
.error-summary--show  {
    display: block;
}

/* hide element while still leaving it accessible to screen readers */
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.table--borderless th {
    border: none;
}

tbody tr {
    border-bottom: 1px solid #a1acb2;
}

.confirmation-banner {
    color: #FFFFFF;
}

.spaced-below {
    padding-bottom: 10px;
}

.spaced-above {
    padding-top: 20px;
}


/* Timeout Modal */

.timeout-overlay {
    background-color: #000;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.button.button--link {
    font-size: 19px;
    margin: 0;
    padding: 0;
    font-weight:700;
    color: black;
}